body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #96bb91, #886da3);
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
}

.container {
    background: #ffffff;
    width: 380px;
    padding: 30px;

    border-radius: 18px;
    box-shadow: 0 20px 45px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background-color: #1a237e;
    color: white;
    cursor: pointer;
}

/* Loading text */
.loading {
    text-align: center;
    margin-top: 15px;
    display: none;
    font-weight: bold;
}

/* Result box */
#result {
    margin-top: 20px;
}

.country-card {
    background-color: #f4f6f8;
    padding: 15px;
    border-radius: 12px;
}

.country-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
